@import '../ui/mixims.scss';
@import '../ui/constants.scss';
@import '../ui/common-style.scss';
////////////////////////////////////////

.input-wrap {
  & > label {
    & span {
      margin: 0 7px;
    }
  }
}
.checkbox-container {
	vertical-align: middle;
	display: inline-flex;
	input[type='checkbox'] {
		border: 0;
		padding: 0;
		width: 1px;
		height: 1px;
		margin: -1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		position: absolute;
		white-space: nowrap;
	}
	.styled-container {
		width: 16px;
		height: 16px;
		background: salmon;
		border-radius: 3px;
		display: inline-block;
		transition: all 150ms;
		&.checked {
			background: papayawhip;
		}
		&:focus + & {
			box-shadow: 0 0 0 3px pink;
		}
		svg {
			visibility: hidden;
			&.checked {
				visibility: visible;
			}
		}
	}
}

.search-wrap {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  position: relative;
  & > label {
    position: absolute;
    top: 0;
    left: 15px;
    width: 25px;
    height: 100%;
    z-index: 10;
    display: flex;
    cursor: pointer;
    align-items: center;
  }
  & > input {
    border: 0;
    width: 25px;
    height: 30px;
    opacity: 0;
    margin: 0;
    color: $llGrey;
    padding-left: 40px;
    transition: all 0.4s;
    &.mob-search,
    &:focus {
      opacity: 1;
      width: 100%;
      transition: all 0.4s;
      border-radius: 0;
      // height: 50px;
      border-bottom: 1px solid $llGrey;
    }
    // &.mob-search {
    //   // height: 50px;
    // }
  }
}