@import './ui/constants.scss';
/////////////////////////////////////
$font-path: "../public/fonts";
/////////////////////////////////
body, ul, button {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  @font-face {
    font-family: 'Roboto-Thin';
    src: url('#{$font-path}/Roboto-Thin.eot');
    src: url('#{$font-path}/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/Roboto-Thin.svg#Roboto-Thin') format('svg'),
      url('#{$font-path}/Roboto-Thin.ttf') format('truetype'),
      url('#{$font-path}/Roboto-Thin.woff') format('woff'),
      url('#{$font-path}/Roboto-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto-ThinItalic';
    src: url('#{$font-path}/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg'),
      url('#{$font-path}/Roboto-ThinItalic.ttf') format('truetype'),
      url('#{$font-path}/Roboto-ThinItalic.woff') format('woff'),
      url('#{$font-path}/Roboto-ThinItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
    
  @font-face {
    font-family: 'Roboto-Light';
    src: url('#{$font-path}/Roboto-Light.eot');
    src: url('#{$font-path}/Roboto-Light.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/Roboto-Light.svg#Roboto-Light') format('svg'),
      url('#{$font-path}/Roboto-Light.ttf') format('truetype'),
      url('#{$font-path}/Roboto-Light.woff') format('woff'),
      url('#{$font-path}/Roboto-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
    
  @font-face {
    font-family: 'Roboto-Regular';
    src: url('#{$font-path}/Roboto-Regular.eot');
    src: url('#{$font-path}/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/Roboto-Regular.svg#Roboto-Regular') format('svg'),
      url('#{$font-path}/Roboto-Regular.ttf') format('truetype'),
      url('#{$font-path}/Roboto-Regular.woff') format('woff'),
      url('#{$font-path}/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
    
  @font-face {
    font-family: 'Roboto-Medium';
    src: url('#{$font-path}/Roboto-Medium.eot');
    src: url('#{$font-path}/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/Roboto-Medium.svg#Roboto-Medium') format('svg'),
      url('#{$font-path}/Roboto-Medium.ttf') format('truetype'),
      url('#{$font-path}/Roboto-Medium.woff') format('woff'),
      url('#{$font-path}/Roboto-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
    
  @font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('#{$font-path}/Roboto-BlackItalic.eot');
    src: url('#{$font-path}/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg'),
      url('#{$font-path}/Roboto-BlackItalic.ttf') format('truetype'),
      url('#{$font-path}/Roboto-BlackItalic.woff') format('woff'),
      url('#{$font-path}/Roboto-BlackItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
    
  @font-face {
    font-family: 'Roboto-Bold';
    src: url('#{$font-path}/Roboto-Bold.eot');
    src: url('#{$font-path}/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/Roboto-Bold.svg#Roboto-Bold') format('svg'),
      url('#{$font-path}/Roboto-Bold.ttf') format('truetype'),
      url('#{$font-path}/Roboto-Bold.woff') format('woff'),
      url('#{$font-path}/Roboto-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
    
  @font-face {
    font-family: 'GothamProMedium';
    src: url('#{$font-path}/GothamProMedium.eot');
    src: url('#{$font-path}/GothamProMedium.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/GothamProMedium.ttf') format('truetype'),
      url('#{$font-path}/GothamProMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
    
  @font-face {
    font-family: 'GothamProBlackItalic';
    src: url('#{$font-path}/GothamProBlackItalic.eot');
    src: url('#{$font-path}/GothamProBlackItalic.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/GothamProBlackItalic.ttf') format('truetype'),
      url('#{$font-path}/GothamProBlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
    
  @font-face {
    font-family: 'GothamProBlack';
    src: url('#{$font-path}/GothamProBlack.eot');
    src: url('#{$font-path}/GothamProBlack.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/GothamProBlack.ttf') format('truetype'),
      url('#{$font-path}/GothamProBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 400;
  font-family: Roboto;
}
a {
  color: inherit;
  text-decoration: none;
}
input, textarea, label {
  font-family: Roboto;
  font-size: fSMediumPhone;
  line-height: lHPhone;
  color: $dgrey;
}
* :active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
*::-webkit-scrollbar-track
{
  background-color: transparent;
}

*::-webkit-scrollbar
{
  width: 0;
  height: 0;
}

*::-webkit-scrollbar-thumb
{
  background-color: lightblue;
}
