//color
$white: #fff;
$dark: #141414;
$darkGrey: #333;
$blackL: #222222;
$black: #000;
$lllGrey : #BDBDBD;
$pink : #D72066;
$lightGrey: #C5C4C4;
$llGrey: #616060;
$dgrey: #808080;
$dwhite : #F4F0F2;

// width
$maxWidth: 1200px;
$minWidth: 320px;
// screen width breakpoints
$phone: 576px;
$tablets: 768px;
$desktops: 992px;
$largeDesktops: 1200px;

// font-size
$fontSizeSmaller: 12px;
$fontSizeSmaller2: 16px;
$fontSizeSmall: 18px;
$fontSizeSmall2: 30px;
$fontSizeMedium: 34px;
$fontSizeMedium2: 36px;
$fontSizeBig: 40px;

// font-size
$fSSmall: 12px;
$fSMediumPhone: 16px;
$fSBigPhone: 18px;
$fSSmallerTable: 20px;
$fSSmallTable: 22px;
$fSMediumTable: 24px;
$fSMediumLaptop: 28px;
$fSBigTable: 34px;
$fSLaptop: 36px;
$fSBigLaptop: 42px;
$fSLLaptop: 48px;
$fSLLLaptop: 64px;

// line-height
$lHPhone: 16px;
$lHSPhone: 19px;
$lHMPhone: 24px;
$lHBPhone: 26px;
$lHMTable: 28px;
$lHLaptop: 33px;
$lHMediumLaptop: 36px;
$lHBigLaptop: 49px;
$lHDesktop: 56px;
$lHBigDesktop: 75px;